/* ===== Google Font Import poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
   display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
   background-image: linear-gradient(rgb(244, 13, 213),rgba(0, 0, 255, 0.889));
}
.wrapper{
    width: 605px;
    background: #ffffff9d;
    border-radius: 15px;
    padding: 30px 30px 25px;
    border: solid;
    border-color: violet;
    border-width: 5px;
}
.wrapper header{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}
.wrapper .content{
    margin: 35px 0;
}
.content .quote-area{
    display: flex;
    justify-content: center;
    color: rgb(84, 50, 205);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.quote-area i{
    font-size: 15px;
    
}
.quote-area i:first-child{
    margin: 3px 10px 0 0;
}
.quote-area i:last-child{
    display: flex;
    align-items: center;
    margin: 0 0 3px 10px;
}
.quote-area .quote{
    font-size: 22px;
    text-align: center;
}
.content .author{
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
    font-style: italic;
    font-size: 18px;
    color: rgb(233, 14, 233);
}
.author span:first-child{
    margin: -7px 5px 0 0;
    font-family: monospace;
}
.wrapper .buttons{
    border-top: 1px solid #cccccc;
}
.buttons .features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.features ul{
    display: flex;
}
.features ul li{
    list-style: none;
    margin: 0 5px;
    height: 47px;
    width: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #49596e;
    color: #0d63e3;
    transition: all 0.6s ease;
    cursor: pointer;
}
.features ul li:hover{
    color: #ffffff;
    background: #0f20dc;
}
.features button{
    border: none;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 13px 22px;
    background: #49596e;
    transition: all 0.7s ease;
    border-radius: 50px;
}
.features button:hover{
    background: #d50ce0;
}
.button .loading{
    opacity: 0.7;
    pointer-events: none;
}